{% load static %} <!-- Эта строка должна быть в самом начале файла -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой маркетплейс{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Мой маркетплейс</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/marketplace/">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketplace/create_client/">Создать пользователей (ДЗ 2)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketplace/update_client/">Обновить пользователей (ДЗ 2)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketplace/order_by_date/">Вывести заказ (ДЗ 3)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketplace/add_product/">Добавить продукт (ДЗ 4)</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {% block content %}
        <h1>Добро пожаловать на мой сайт!</h1>
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 Мой сайт. Все права защищены.</p>
    </footer>
    <!-- Опционально: подключение Bootstrap JS и Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
